<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>concertdiary</title>
    <link rel="stylesheet" href="/css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  </head>
  <body>
      <nav class="navi">
        <ul class="navlinks">
          <li class="navlink" id="brand">
            <a href="/" class="navbar-brand ">ConcertDiary</a>
          </li>
          {{#if currentUser}}
          <li class="navlink">
            <a class="nav-item nav-link navbar-text" href="/user/logout">log out</a>
          </li>
          <li class="navlink">
            <a class="nav-item nav-link navbar-text" href="/user/{{currentUser.id}}">profile</a>
          </li>
          <li class="navlink">
            <a class="nav-item nav-link navbar-text" href="/concert/new">add concert</a>
          </li>


          {{else}}
          <li class="navlink">
            <a class="nav-item mr-2" href="/user/login">Log In</a>
          </li>
          <li class="navlink">
            <a class="nav-item mr-2" href="/user/sign-up">Sign Up</a>
          </li>
          {{/if}}
        </ul>
      </nav>
    {{!-- </header> --}}
    <main class="container">
      {{{ body }}}
    </main>
  </body>
</html>
