body {
  background: black;
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em;
  margin: 3%;
}

a {
  text-decoration: none;
}

.navi {
  margin-bottom: 60px;
  padding-left: 5%;
  padding-right: 5%;
}

.navlinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navlink {
  float: right;
  padding-top: 40px;
}

#brand {
float: left;
font-size: 2em;
color: rgb(211,65,77);
}

.navlink a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navlink a:hover {
  color: rgb(211,65,77);
}

.concert-articles {
  background: #FEA680;
  margin-bottom: 30px;
  padding: 3%;
  width: 70%;
  margin: 30px auto;
  border-radius: 25px;
}

.myconcert {
  font-size: 1.75em;
}

.concert-articles ul {
  list-style: none;
  margin-bottom: 40px;
}

.concert-articles a {
  color: #FEDC3D;
}

.concert-articles a:hover {
  color: rgb(211,65,77);
}

.concert-articles ul li {
  margin: 2%;
}

.artist-span {
  color: #fffdd0;
}

.prop-span {
  color: #01ABAA;
}

.concert-del button {
  background: #01ABAA;
  padding: 16px 20px;
  border-radius: 12px;
  font-size: 1em;
  margin-left: 15%;
}

.comment-card {
  background: #FEDC3D;
  width: 65%;
  margin: auto;
  border-radius: 25px;
}

.comment-content {
  padding: 30px;
}

.comment-prop {
  color: #01ABAA;;
}

.comment-info {
  padding: 20px;
}

.addcomment {
  background: #fffdd0;
  width: 65%;
  margin: 30px auto;
  border-radius: 25px;
}

.addcomment-content {
  padding: 20px;
 
}

.newcomment-text {
  margin: 20px;
}

.newcomment-text textarea {
  background: #fffdd0;
  border-style: none;
  width: 100%;
}

.addcomment-btn .btn {
  background: #01ABAA;
  padding: 10px 14px;
  border-radius: 12px;
  font-size: .8em;
  margin-left: 5%;
}

.signup-section {
  background: #01ABAA;
  width: 30%;
  margin: auto;
}