<section class="profile">
  <h2>{{user.email}}</h2>
  {{#if user.concerts}}
    <div class="concerts">
      {{#each user.concerts}}
         {{> 'concert'}}
      {{/each}}
    </div>
  {{else}}
    <p>No concerts yet</p>
  {{/if}}
</section>
