<section class="form-container">
  <h4>New Concert</h4>
  <form action="/concert" method="post" class="concert-form">
    <div class="input-field">
      <textarea name="concert[artistOrArtists]" cols="30" rows="5" placeholder="artist or artists"></textarea>
    </div>
        <div class="input-field">
      <textarea name="concert[venue]" cols="30" rows="3" placeholder="concert venue"></textarea>
    </div>
        <div class="input-field">
      <textarea name="concert[noteworthy]" cols="30" rows="10" placeholder="noteworthy moments"></textarea>
    </div>
        <div class="input-field">
      <textarea name="concert[photos]" cols="30" rows="10" placeholder="photo urls"></textarea>
    </div>
        <div class="input-field">
      <textarea name="concert[dateAttended]" cols="30" rows="1" placeholder="date of show (mm/dd/yy)"></textarea>
    </div>
    <div class="">
      <select name="author" id="author">
        <option value="" disabled selected>Choose the User</option>
        {{#each users}}
        {{!-- want this to be username --}}
          <option value="{{id}}">{{username}}</option>
        {{/each}}
      </select>
    </div>
    <div class="input-field">
      <input type="submit" value="Concert" class="btn">
    </div>
  </form>
</section>